@using PaisesEBandeiras.Models;
@using PaisesEBandeiras.Controllers;
@model List<PaisesModel>


<div class="container">

    <div class="listaPaises">
        <h1>Todos os Países</h1>
        <table id="PaisesId" class="table table-striped">
            <thead>
                <tr>
                    <th>Nome do País</th>
                    <th>Capital</th>
                    <th>Bandeira</th>
                    <th>Área (km²)</th>
                    <th>População</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pais in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("PaisDetalhes", "Paises", new { nome = pais.NomePais })">
                                @pais.NomePais
                            </a>

                        </td>
                        <td>@pais.NomeCapital</td>
                        <td>
                            @if (!string.IsNullOrEmpty(pais.Bandeira))
                            {
                                <img src="@pais.Bandeira" alt="Bandeira de @pais.NomePais" style="width: 50px; height: auto;" />
                            }
                        </td>
                        <td>@pais.Area</td>
                        <td>@pais.Populacao?.ToString("N0")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

